
* {
    font-family: Nunito, sans-serif;
  }
  
  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    line-height: 25px;
  }
  
  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .mainImg {
    color: black;
    width: 55%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .text-blk.headingText {
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    color: rgb(51, 51, 51);
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  
  .allText {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
    width: 40%;
    margin: 0 0 0 0;
  }
  
  .text-blk.subHeadingText {
    color: rgb(102, 102, 102);
    font-size: 25px;
    line-height: 34px;
    font-weight: 700;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
  }
  
  .text-blk.description {
    font-size: 25px;
    line-height: 34px;
    color: rgb(102, 102, 102);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
  }
  
  .explore {
    font-size: 20px;
    line-height: 28px;
    color: rgb(255, 255, 255);
    background-color: rgb(244, 152, 146);
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-top-color: rgb(244, 152, 146);
    border-right-color: rgb(244, 152, 146);
    border-bottom-color: rgb(244, 152, 146);
    border-left-color: rgb(244, 152, 146);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    cursor: pointer;
  }
  

.navbar {
    width: 100%;
    height: 75px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.icon {
    width: 200px;
}

.logo {
    color: #ff7200;
    font-size: 35px;
    font-family: Arial, sans-serif;
}

.menu {
    flex-grow: 1;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

ul li {
    margin: 0 20px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: #ff7200;
}

.search {
    width: 330px;
    display: flex;
    align-items: center;
}

.srch {
    font-family: 'Times New Roman', serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px 0 0 5px;
}

.btn {
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    color: #fff;
    font-size: 15px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn:hover {
    color: #000;
}

.explore {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #f44e42; /* Button color */
    text-align: center;
    text-decoration: none; /* Removes underline from links */
    border-radius: 5px;
    transition: background-color 0.3s;
}

.explore:hover {
    background-color: #e43a2d; /* Darker button color on hover */
}

  
  .responsive-container-block.Container {
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    max-width: 1320px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  
  .responsive-container-block.Container.bottomContainer {
    margin-top: 100px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    flex-direction: row-reverse;
    margin: 100px auto 50px auto;
  }
  
  .allText.aboveText {
    margin: 0 0 0 40px;
  }
  
  .allText.bottomText {
    margin: 0 40px 0 0;
  }
  
  @media (max-width: 1024px) {
    .responsive-container-block.Container {
      max-width: 850px;
    }
  
    .mainImg {
      width: 55%;
      height: auto;
    }
  
    .text-blk.description {
      font-size: 20px;
    }
  
    .allText {
      width: 40%;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 20px;
    }
  
    .responsive-container-block.bigContainer {
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
    }
  
    .text-blk.subHeadingText {
      font-size: 22px;
    }
  
    .responsive-container-block.Container.bottomContainer {
      margin: 80px auto 50px auto;
    }
  
    .responsive-container-block.Container {
      max-width: 830px;
    }
  
    .allText.aboveText {
      margin: 30px 0 0 40px;
    }
  
    .allText.bottomText {
      margin: 30px 40px 0 0;
    }
  }
  
  @media (max-width: 768px) {
    .mainImg {
      width: 90%;
    }
  
    .allText {
      width: 100%;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .responsive-container-block.Container {
      flex-direction: column;
      height: auto;
    }
  
    .text-blk.headingText {
      text-align: center;
    }
  
    .text-blk.subHeadingText {
      text-align: center;
      font-size: 25px;
    }
  
    .text-blk.description {
      text-align: center;
      font-size: 25px;
    }
  
    .allText {
      margin-top: 40px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .allText.aboveText {
      margin: 40px 0 0 0;
    }
  
    .responsive-container-block.Container {
      margin: 80px auto 50px auto;
    }
  
    .responsive-container-block.Container.bottomContainer {
      margin: 50px auto 50px auto;
    }
  
    .allText.bottomText {
      margin: 40px 0 0 0;
    }
  }
  
  @media (max-width: 500px) {
    .responsive-container-block.Container {
      padding-top: 10px;
      padding-right: 0px;
      padding-bottom: 10px;
      padding-left: 0px;
      width: 100%;
      max-width: 100%;
    }
  
    .mainImg {
      width: 100%;
    }
  
    .responsive-container-block.bigContainer {
      padding-top: 10px;
      padding-right: 25px;
      padding-bottom: 10px;
      padding-left: 25px;
    }
  
    .text-blk.subHeadingText {
      font-size: 25px;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .text-blk.description {
      font-size: 25px;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .allText {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      width: 100%;
    }
    body {
        background: #fbfbfd;
    }
    
    .new_footer_area {
        background: #fbfbfd;
    }
    
    
    .new_footer_top {
        padding: 120px 0px 270px;
        position: relative;
          overflow-x: hidden;
    }
    .new_footer_area .footer_bottom {
        padding-top: 5px;
        padding-bottom: 50px;
    }
    .footer_bottom {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        color: #7f88a6;
        padding: 27px 0px;
    }
    .new_footer_top .company_widget p {
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        color: #6a7695;
        margin-bottom: 20px;
    }
    .new_footer_top .company_widget .f_subscribe_two .btn_get {
        border-width: 1px;
        margin-top: 20px;
    }
    .btn_get_two:hover {
        background: transparent;
        color: #5e2ced;
    }
    .btn_get:hover {
        color: #fff;
        background: #6754e2;
        border-color: #6754e2;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
        text-decoration: none;
        outline: none;
    }
    
    
    
    .new_footer_top .f_widget.about-widget .f_list li a:hover {
        color: #5e2ced;
    }
    .new_footer_top .f_widget.about-widget .f_list li {
        margin-bottom: 11px;
    }
    .f_widget.about-widget .f_list li:last-child {
        margin-bottom: 0px;
    }
    .f_widget.about-widget .f_list li {
        margin-bottom: 15px;
    }
    .f_widget.about-widget .f_list {
        margin-bottom: 0px;
    }
    .new_footer_top .f_social_icon a {
        width: 44px;
        height: 44px;
        line-height: 43px;
        background: transparent;
        border: 1px solid #e2e2eb;
        font-size: 24px;
    }
    .f_social_icon a {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        font-size: 14px;
        line-height: 45px;
        color: #858da8;
        display: inline-block;
        background: #ebeef5;
        text-align: center;
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }
    .ti-facebook:before {
        content: "\e741";
    }
    .ti-twitter-alt:before {
        content: "\e74b";
    }
    .ti-vimeo-alt:before {
        content: "\e74a";
    }
    .ti-pinterest:before {
        content: "\e731";
    }
    
    .btn_get_two {
        -webkit-box-shadow: none;
        box-shadow: none;
        background: #5e2ced;
        border-color: #5e2ced;
        color: #fff;
    }
    
    .btn_get_two:hover {
        background: transparent;
        color: #5e2ced;
    }
    
  }
  body {
    background: #fbfbfd;
}

.new_footer_area {
    background: #fbfbfd;
}


.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
      overflow-x: hidden;
}
.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}
.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}
.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}
.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}
.btn_get:hover {
    color: #fff;
    background: #6754e2;
    border-color: #6754e2;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.ti-facebook:before {
    content: "\e741";
}
.ti-twitter-alt:before {
    content: "\e74b";
}
.ti-vimeo-alt:before {
    content: "\e74a";
}
.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5e2ced;
    border-color: #5e2ced;
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
  color:white;
}
.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}
.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}
.f_600 {
    font-weight: 600;
}
.f_size_18 {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
}


.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
  background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
  background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

/*************footer End*****************/

